*{
    margin: 0;
    padding: 0;
}


.fifth__container__wrapper{
    height:368px;
    background-color: #d2d4d3;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.fifth__content__wrapper{
    width: 100%;
    height: 227px;
    display:flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.fifth__content__wrapper > img{
width: 226px;
height: 56px;
}

.navigation>ul,
.contact>ul,
.social>ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
}


.navigation,
.contact,
.social{
width: 200px;
max-height: 227px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}


.navigation>ul>li>a,
.contact>ul>li>a,
.social>ul>li>a{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:#5a5151;
}

.navigation>ul>li:first-child,
.contact>ul>li:first-child,
.social>ul>li:first-child{
    font-weight: 700;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {

    .fifth__container__wrapper{
      max-width: 100%;
    }
     .navigation{
     display: none;
     }
     .contact{
        display: none;
     }
     .social{
        display: none;
     }
    }

    @media only screen and (max-width: 800px) {

        .fifth__container__wrapper{
          max-width: 100%;
        }
         .navigation{
         display: none;
         }
         .contact{
            display: none;
         }
         .social{
            display: none;
         }
        }