.input{
    display:flex;
    justify-content: space-between;
    opacity: 1;
}

.reserve__table__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2049px;
    max-width: 100%;
    background-color: white;
    background-image: url(https://img.freepik.com/free-photo/dining-terrace-open-restaurant-with-sofas-chairs-tables_114579-2728.jpg?w=1060&t=st=1710827141~exp=1710827741~hmac=08bd28791062ad68b5eebbac7f7e4aa6150aafb840b25642bb3be51eaa41d529);
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    width: 70%;
    height: 1497px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #e1e0e0;
    color: #5a5151;
    padding: 40px;
    border-radius: 15px;
    opacity: 1;
}

label{
    font-size: 24px;
    color: #5a5151;
    font-weight: bold;
    opacity: 1;
}

.inputWrapper>input{
    width: 250px;
    height: 51px;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    background-color: lightgray;
}

textarea{
    height: 228px;
    border-radius: 15px;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: #d3d3d3;
    border: 3px solid #5a5151;
}

.formButton{
    width: 200px;
    height: 44px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 400;
    background-color: #F4CE14;
}

form>h3 {
    text-transform: uppercase;
    font-size: 24px;
    width: fit-content;
    margin-bottom: 50px;
}

.reserve__table__title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    max-width: 100%;
    background-color: #e1e0e0;
    color: #5a5151;


}

.buttonDiv{
    display: flex;
    justify-content: center;
    width: 200px;
}

.inputWrapper>input{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #5a5151;
}

.error-message{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 800;
    color: red;
}



