.input{
    display:flex;
    justify-content: space-between;
}

.reserve__table__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2049px;
    max-width: 100%;
    background-color: white;
    border: 2px solid black;
    background-image: url(https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    width: 70%;
    height: 1497px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

label{
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.input>input{
    width: 250px;
    height: 51px;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    background-color: lightgray;
}

textarea{
    height: 228px;
    border-radius: 15px;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: #d3d3d3;
    border: 3px solid #5a5151;
}

.formButton{
    width: 400px;
    height: 50px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 400;
    background-color: #F4CE14;
}

form>h3 {
    text-transform: uppercase;
    font-size: 24px;
}

.reserve__table__title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    max-width: 100%;
    border-bottom: 1px solid black;
   background-color: white;
   border: 2px solid black;
  border-bottom: none;


}

.buttonDiv{
    display: flex;
    justify-content: center;
    width: 200px;
}

input{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #5a5151;
}





